@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');
*{

    box-sizing: border-box;
}

:root
{
 /*---- CORES DO PROJETO ----*/

 --white-gray:  #ffffff;    /* White             */
 --gray:        #dfe4ea;    /* City L            */
 --dark-blue:   #273c75;    /* Mazarine Blue     */
 --blue:        #0984e3;    /* Electron Blue     */
 --pastel-blue: #74b9ff;    /* Green Darner Tail */
 --light-blue:  #81ecec;    /* Faded Poster      */
 --orange:      #d35400;    /* Pumpkin           */
 --yellow:      #f39c12;    /* Orange            */
 --success:     #4cd137af;  /* */


}

html
{
    font-size: 62.5%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/fundo1.webp);
    background-size: cover;

    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.form-container
{
    position: relative;
    background: #ffffff10;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(50px);
    padding: 20px 40px 50px;
    border-radius: 5px;
}

.form-container h1
{
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid white;
    padding: 10px;
    font-size: 2.8rem;
    font-family: 'Roboto',sans-serif;
    color: var(--white-gray);

}

a
{
    display: block;
    margin: 30px;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--light-blue);
}

a:hover, a:focus
{
    text-decoration: underline;
    text-decoration-color: var(--white-gray);
}

strong
{
    color: var(--white-gray);
}

.form-btn
{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: var(--dark-blue);
    color: var(--white-gray);
    padding: 15px;
    font-family: inherit;
    font-size: 1.6rem;
    border: 0;
    border-radius: 5px;
}

.form-btn:focus
{
    outline: 3px solid var(--orange);
}

.form-btn:active
{
    transform: scale(0.98);
}

.form-control
{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input
{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--dark-blue);
    color: var(--gray);
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    transition: color  2s;


}

.form-control input:focus, .form-control input:valid
{
    outline: 0;
    border-bottom-color: var(--dark-blue);
}

.form-control label
{
    position: absolute;
    top: 15px;
    left: 0;
    color: var(--white-gray);

}

.form-control label span
{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span
{
    color: var(--dark-blue);
    transform: translateY(-30px);
    background-color: transparent
    
}

.link-container
{   
    position: absolute;
    left: 15px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

i
{
    font-size: 2rem;
    color: var(--light-blue);
 
}

.back
{
    font-family: inherit;
    font-size: 1.6rem;
    padding: auto 5px;
    margin: 0px 0px 0px 5px;
    color: var(--dark-blue);
    transform: translateY(-2px);

}

@media (max-width: 720px){

    .form-control input:focus + label span,
    .form-control input:valid + label span
    {
        color: var(--yellow);
    }
}

.msg.success
{
    position: absolute;
    left: 65%;
    max-width:25%;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-gray);
    font-size: 2rem;
    background-color: var(--success);
    border: 2px solid #ffffff60;
    border-radius: 5px;
    backdrop-filter: blur(10%);
    /*transform: translateY(75vh);*/

}

.msg.erro
{
    position: absolute;
    left: 65%;
    max-width:33%;
    padding: 50px 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-gray);
    font-size: 2rem;
    background-color: #d35400af;
    border: 2px solid #ffffff60;
    border-radius: 5px;
    backdrop-filter: blur(10%);
    text-align: center;
    /*transform: translateY(75vh);*/
}

.privat-container
{
    width: 70%;
    height: 80%;
    padding:  0;
    background: #e07f0f10;
    border: 1px solid #270c664f;
    backdrop-filter: blur(50px);
    border-radius: 5px;
    background-color: #dedede;
    text-align: center;

}

.privat-container h3
{
    font-size: 2.6rem;
}

nav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #273c75;
    border-radius: 5px 5px 0 0;
}

.navigation-menu
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

nav a
{
    display: inline-block;
    color: #FFC312;
    margin: 0 2px;
    padding: 5px 0;
}

nav a:hover
{
    text-decoration: none;
}


